.DS_Store
node_modules
custom
*.log

.versions
.idea
package/cjs
package/components
package/esm
package/types
package/*.js
package/*.ts
package/*.css
package/*.map
package/*.less
package/*.scss
package/*.svelte

playground
playground-react
playground-svelte
playground-vue
src
scripts
demos
.github
.vscode
.npmignore
CODE_OF_CONDUCT.md
LICENSE
CHANGELOG.md
babel.config.vue.js
.prettierignore
.editorconfig
babel.config.svelte.js
README.md
.lintstagedrc
babel.config.js
package-lock.json
CONTRIBUTING.md
.prettierrc
.eslintrc.js
babel.config.react.js
.eslintignore
.travis.yml
.huskyrc


